.counter {
  font-size: 2em;
  margin: 40px 0 0; }

@media (max-width: 500px) {
  .title {
    font-size: 1.3em; } }
.app {
  width: 700px;
  padding: 2%;
  margin: 2% auto;
  text-align: center; }

@media (max-width: 800px) {
  .app {
    width: 100%; } }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/RobotoRegular.18b2429b.woff) format("woff"); }

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/RobotoMedium.5ca83061.woff) format("woff"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/RobotoBold.af01b503.woff) format("woff"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/RobotoLight.1d638d89.woff) format("woff"); }

* {
  box-sizing: border-box;
  transition: all 0.2s; }

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em; }

h1,
h2,
h3,
h4,
h5 {
  font-family: RobotoMedium, Arial, sans-serif; }

ul {
  padding-left: 0;
  list-style: none; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit; }

input {
  border: 1px solid #888; }

/*# sourceMappingURL=app.9169f253a72e79ff6036be03ae9394ff.css.map*/