.button {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc; }
  .button:hover {
    background-color: #f2f2f2; }
.text {
  font-size: 1.7em;
  line-height: 2em; }

.subtext {
  margin-bottom: 5%; }

.counter {
  font-size: 2em;
  margin: 40px 0 0; }

@media (max-width: 500px) {
  .text {
    font-size: 1.3em; } }
.modal-overlay {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5; }
.reset-popup {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  width: 25%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px; }

.reset-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.reset-title {
  margin-bottom: 30px; }

@media (max-width: 600px) {
  .reset-popup {
    width: 90%; } }
.error {
  width: 100%;
  line-height: 3em;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  background-color: #ff7575;
  left: 0;
  top: 0%; }
.app {
  width: 700px;
  padding: 2%;
  margin: 2% auto;
  text-align: center; }

@media (max-width: 800px) {
  .app {
    width: 100%; } }
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/RobotoRegular.18b2429b.woff) format("woff"); }

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/RobotoMedium.5ca83061.woff) format("woff"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/RobotoBold.af01b503.woff) format("woff"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/RobotoLight.1d638d89.woff) format("woff"); }

* {
  box-sizing: border-box;
  transition: all 0.2s; }

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em; }

ul {
  padding-left: 0;
  list-style: none; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit; }

input {
  border: 1px solid #888; }

/*# sourceMappingURL=app.ef6b52514b0c69ed993cb37109ed7261.css.map*/